@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.root {
  display: inline-block;
  animation: skeleton-loading 1s linear infinite alternate;
  width: 37px;
  height: 37px;
}
