.root {
  --border-radius: 6px;

  display: grid;
  grid-template-areas:
    "avatar primary"
    "avatar secondary";
  grid-template-columns: auto 1fr;
  grid-template-rows: max-content;
  column-gap: 10px;

  box-sizing: border-box;
  padding: 26px 20px;
  height: 90px;
  background-color: white;
  box-shadow: 0 0 10px rgba(62, 118, 244, 0.14);
}

.root:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

li:first-child > .root {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

li:last-child > .root {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.avatar {
  /* Half of avatar size */
  clip-path: circle(18.5px);
  grid-area: avatar;
}

.avatar > * {
  display: block;
}

.primary {
  grid-area: primary;
  overflow: hidden;
  white-space: nowrap;

  text-overflow: ellipsis;
  font-size: 0.875rem;
}

.secondary {
  grid-area: secondary;
  font-size: 0.75rem;
}
